
#box-about .content .title{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	font-family: arial;
}

#box-about .content p.main{
	text-transform: uppercase;
	line-height: 30px;
	color: #637f11;
	font-weight: bold;
	font-size: 12px;
	margin-top: 0px;
}

#box-about .content p{
	line-height: 20px;
	margin-bottom: 25px;
}

#box-about .content ul li{
	line-height: 20px;
	margin-top: 25px;
	padding-left: 20px;
	background: url(../images/about-page/about-li-icon.png) left 6px no-repeat;
}

#box-about .content ul li span{
	font-weight: bold;
	color: #637f11;
}