/* ================================== BUTTON - CHANGE ================================= */

#wrapper #header .top .currency .btn-link{
    color: #fff;
	height: 22px;
	line-height: 22px;
    background: url(../images/change-rbg.png) right top no-repeat;
    padding-right: 7px;
    display: inline-block;
}

#wrapper #header .top .currency .btn-link span{
	background: url(../images/change-lbg.png) left top no-repeat;
	padding-left: 7px;	
	display: block;
}

#wrapper #header .top .currency .btn-link:hover{
	color: #000;
}