body{
	background: url(../images/background-body.jpg) left top repeat;
	font: 12px Arial, Helvetica, sans-serif;
}

#wrapper{
	background: url(../images/background.jpg) left top repeat;
	width: 940px;
	height: 1000px;
	margin: 0px auto;
	padding: 0 60px;
}

/*============================ HEADER ==================================*/
#wrapper #header .top{
	height: 130px;
}

#wrapper #header .top .logo{
	margin-left: 17px;
	float: left;
	height: 130px;
	line-height: 130px;
}

#wrapper #header .top .logo img{
	vertical-align: middle;
}

#wrapper #header .top .currency{
	float: right;
	margin: 83px 0px 27px 0px;
}

#wrapper #header .top .currency > span{
	font-weight: bold;
}

#wrapper #header .top .currency > select{

}

#wrapper #header .menu{
	background-color: yellow;
}

/*============================ MENU ==================================*/
#wrapper #header .menu{
	background: url(../images/menu-left.jpg) left top no-repeat;
}

#wrapper #header .menu .right {
	background: url(../images/menu-right.jpg) right top no-repeat;
}

#wrapper #header .menu .right .content {
	background: url(../images/menu-content.jpg) left top repeat-x;
	height: 46px;
	margin: 0 12px;
}

#wrapper #header .menu ul{
	position: relative;
}

#wrapper #header .menu ul li{
	float: left;
}

#wrapper #header .menu ul li a{
	display: block;
	padding: 0px 22px;
	line-height: 46px;
	font-weight: bold;
	font-size: 14px;
	font-family: arial;
	color: #000043;
	text-transform: uppercase;
}

#wrapper #header .menu ul li a:hover{
	color: #363;
	text-decoration: underline;
}

#wrapper #header .menu ul li.cart{
	position: absolute;
	top: 0px;
	right: 25px;
}

#wrapper #header .menu ul li.cart span{
	font-weight: bold;
}

#wrapper #header .menu ul li.cart a{
	display: inline;
	padding: 0px;
	font-size: 12px;
	line-height: 46px;
	font-family: arial;
	color: #7bb183;
}

#wrapper #header .menu ul li.cart a:hover{
	color: #000;
	font-weight: bold;
}


/*============================ LINE ==================================*/
.line-w-45{
	width: 1px;
	height: 46px;
	background-color: #d2d2d2;
}